<footer>
	<span class="color-white">Bookers</span>
	<!--ログイン未-->
	<%= link_to "Home", root_path, class: "footer-info" %>
	<%= link_to "About", homes_about_path, class: "footer-info" %>
	<p class="footer-info">sign up</p>
	<p class="footer-info">login</p>

	<!--ログイン中-->

</footer>