<header>
	<span class="color-white">Bookers</span>
	<!--ログイン未-->
	<%= link_to "Home", root_path, class: "header-info" %>
	<%= link_to "About", homes_about_path, class: "header-info" %>
	<%= link_to "sign up", new_user_registration_path, class: "header-info" %> 
	<p class="header-info">login</p>

	<!--ログイン中-->

</header>