<%= render "users/header" %>

<div class="container">
	<div class="row">
		<%= render "users/info" %>
		<h2>Users</h2>


		<table>
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th></th>
				</tr>
			</thead>

			<% @users.each do |f| %>
			<tbody>
				<tr>
					<td><%= f.id %></td>
					<td><%= f.name %></td>
					<td>Show</td>
				</tr>
			</tbody>
			<% end %>


		</table>


	</div><!--row-->
</div>