/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
h2,h3{
	margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h2{
    font-size:30px;
}
h3{
    font-size:24px;
}
ol,ul,td{
	font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
p{
	font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
	margin: 0 0 10px;
}

.table{
	width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.tr:hover{
    background-color: #f5f5f5;
}
.color-white{color:white;}
.color-#666666{color:#666666;}
.nav{
	margin:0px;
	padding:0px;
	list-style:none;
}

.notice{
    color:green;
}
.margin-top-51px{
    margin-top:51px;
}

header{
    background-color: #222;
    border-color: #090909;
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
    color: white;
    padding-top:0px
}
header:after{
    clear: both;
    content: " ";
    display: table;
}
.header-container{
	width:1170px;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-container:after {
    clear: both;
}
.header-container:before, .header-container:after {
    content: " ";
    display: table;
}
.header-title-nav{
	float: left !important;
	margin: 0;
    border: 0px solid transparent;

    padding-left: 0;
    list-style: none;
}
.header-title{
    font-size: 20px;
    padding-top: 10px;
}
.header-ul{
    float: right !important;
	margin:0px -15px 0px 0px;
    padding-left: 0;
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}
.header-li{
	float:left;
	position: relative;
    display: block;
}
.header-info{
	color:#9d9d9d;
	padding:15px;
	line-height:20px;
    display: block;
	position:relative
}
.header-info:hover{
	color:white;
	text-decoration: none;
}


.root-body p{
	margin:0 0 10px;
}
.root-title{
	font-size:36px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	margin-top:20px;
	margin-bottom:10px;
}
.root-btn1, .root-btn2{
	color:#666;
}
.root-btn1:hover{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.root-btn2:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}


.signup-title{
	font-size:30px;
	margin-top:20px;
	margin-bottom:10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.signup-field{
	margin-bottom:10px;
}
.signup-label{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.signup-actions{
	margin-bottom:10px;
}
.btn-success:hover{
	color: #fff;
    background-color: #449d44;
    border-color: #398439;
}


.login-field{
	margin-bottom:10px;
}
.login-label{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.login-actions{
	margin-bottom:10px;
}
.btn-primary:hover{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}


.info-th{
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.info-field, .info-actions{
	margin-bottom:10px;
}
.info-label{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}


.forgot-password-field, .forgot-password-actions{
    margin-bottom:10px
}


.book-edit-label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.book-edit-field{
    margin-bottom:10px;
}
.book-edit-actions{
    margin-bottom:10px;
}


.user-edit-label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.user-edit-field, .user-edit-actions{
    margin-bottom:10px;
}


.show-main{
	width:100%;
}


.error-main{
	width:100%;
	color:red;
}
.error-ul{
    margin-top:0px;
    margin-bottom:10px;
}


footer p{
	margin: 0 0 10px;
}
